

.footer {
    margin-top: auto;
    background-color: var(--primary-color);
    color: var(--primary-dark-contrast-color);
    font-size: medium;
    @media screen and (max-width: 600px) {
        font-size: 0.8em;
    }
    @media screen and (max-width: 480px) {
        font-size: 0.7em;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.6em;
    }
}

.footerContent {
    padding: 4vh 4vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 2vw;
}

.footerDescriptionContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
}

.footerSocialContent {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.footerSocialIcon {
    width: 32px;
    height: 32px;
    fill: var(--primary-dark-contrast-color);
}

.footerSmallIcon {
    width: 16px;
    height: 16px;
    fill: var(--primary-dark-contrast-color);
    margin-right: 4px;
    padding-top: 4px;

    > svg {
        width: 16px;
        height: 16px;
        margin-bottom: 2px;
    }

    @media screen and (max-width: 400px) {
        width: 12px;
        height: 12px;

        > svg {
            width: 12px;
            height: 12px;
            margin-bottom: 2px;
        }
    }

    
}

.footerInformation {
    flex: 1 1 auto;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
}

.optional {
    @media screen and (max-width: 400px) {
        display: none;
    }
}