.horizontalNoWrapFlex {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.flexItemWithBaseSize {
    flex: 1 1 0;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}