
.text {
    color: var(--primary-dark-color);
}

.citation {
    @extend .text;
    font-style: italic;
    font-size: large;
    font-weight: 400;
    // color: var(--accent-color);

    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
    @media screen and (max-width: 480px) {
        font-size: 0.8em;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.6em;
    }
}

.description {
    @extend .text;
    font-size: large;

    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
    @media screen and (max-width: 480px) {
        font-size: 0.8em;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.6em;
    }
}

.boldSpan {
    font-weight: bold;
}

.rightAlign {
    text-align: end;
}

.sectionTitle {
    @extend .text;
    text-align: left;
    // color: var(--primary-color);
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif';
    // text-decoration: underline;
    // text-decoration-color: var(--accent-color);

    @media screen and (max-width: 600px) {
        font-size: 1.2em;
    }
    @media screen and (max-width: 480px) {
        font-size: 1em;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.8em;
    }
}