$active-color: var(--accent-color);
$inactive-color: var(--primary-color);

:global(.navbar-nav) {
    .commonNavItem {
        margin: 0 1vw;
        font-family:  'Garamond', 'Baskerville', 'Baskerville Old Face', 'Times New Roman', serif;

        &:global(.nav-link) {
            font-size: larger;
            color: $inactive-color;

            &:global(.active) {
                text-decoration: underline;
                text-decoration-color: $active-color;
                text-underline-offset: 8px;
                color: $active-color;
            }

            &:hover {
                color: $active-color;
                text-decoration: underline;
                text-decoration-color: $active-color;
                text-underline-offset: 8px;
                &:global(.active) {
                    text-decoration-color: $active-color;
                    color: $active-color;
                }
            }
        }
    }
}

.mainNavItem {
    color: $inactive-color;
    fill: $inactive-color;
    stroke: $inactive-color;
    margin-right: 4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;

    
    &:global(.active) {
        color: $active-color;
        fill: $active-color;
        stroke: $active-color;
    }
    &:hover {
        color: $active-color;
        fill: $active-color;
        stroke: $active-color;
    }
}

.nav {
    padding: 24px;
}

.me-auto.navbar-nav {
    padding-top: 11px;
}