:global(.navbar-nav) {
    .commonNavItem {
        &:global(.nav-link) {
            font-size: larger;
            color: var(--primary-color);

            &:global(.active) {
                text-decoration: underline;
                text-decoration-color: var(--accent-color);
                text-underline-offset: 8px;
                color: var(--accent-color);
            }

            &:hover {
                color: var(--primary-color);
                text-decoration: underline;
                text-decoration-color: var(--primary-color);
                text-underline-offset: 8px;
                &:global(.active) {
                    text-decoration-color: var(--accent-color);
                    color: var(--accent-color);
                }
            }
        }
    }
}

.mainNavItem {
    color: var(--primary-color);
    fill: var(--primary-color);
    stroke: var(--primary-color);
    margin-right: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    &:global(.active) {
        color: var(--accent-color);
        fill: var(--accent-color);
        stroke: var(--accent-color);
    }
}

.nav {
    padding: 24px;
}

.me-auto.navbar-nav {
    padding-top: 11px;
}