html,
body {
  padding: 0;
  margin: 0;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
}

